.CatFact
{
    width: 40rem;
    margin: 5rem auto;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* &__logo
    {
        // border: 2px solid blue;
    } */

    &__text,
    &__button
    {
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    &__button
    {
        width: 15rem;
        height: 3rem;
        color: yellow;
        background-color: purple;
        border: 4px solid black;
        border-radius: 10px;
    }
}